.App {
  border: 2px solid rgba(255, 255, 255 ,.7);
  width: 20rem;
}

.App h1 {
  text-align: center;
}

.App {
  text-align: center;
}

.App .Ice {
  margin-top: 3rem;
}

.App .btn {
  padding-left: 14px;
  font-size: 18px;
  border-radius: 14rem;
  border: 2px solid rgba(255, 255, 255 ,.7);
  background: transparent;
}

.App .Button {
  padding: 3rem;
}

.Button button {
  border-radius: 15px;
  padding: 5px;
  font-size: 18px;
  width: 140px;
  border: 2px solid rgba(255, 255, 255 ,.7);
  background: transparent;
}

.Button button:hover {
  background: #000;
  color: #fff;
}